<nav class="nav">
  <ol>
    <li class="active">
      <a class="step-btn active"></a>
    </li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
    <li><a class="step-btn"></a></li>
  </ol>
</nav>
<div class="contents">
  <section id="tab-1">
    <h2>Step 1. 준비 첫번째</h2>
    <p>
      준비물을 확인 합니다. 원두, 뜨거운 물, 드리퍼, 필터, 서버 -혹은 컵-
    </p>
    <p>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-2">
    <h2>Step 2. 준비 두번째</h2>
    <p>
      드리퍼를 서버 -혹은 컵- 위에 놓고, 필터를 드리퍼에 꽂습니다.
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-3">
    <h2>Step 3. 준비 마지막</h2>
    <p>
      원두를 분쇄하여 필터 안에 넣고, 평평하게 만들어줍니다.
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-4">
    <h2>Step 4. 뜸들이기 첫번째</h2>
    <p>
      물을 가운데 부터 바깥으로 가볍게 원을 그리듯이 커피 전체에 살짝 붓습니다.
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-5">
    <h2>Step 5. 뜸들이기 마지막</h2>
    <p>
      뜸들이기 입니다. 보통 30초가 적당합니다.
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-6">
    <h2>Step 6. 추출 첫번째</h2>
    <p>
      뜸을 들였으니 본격적으로 물을 가운데 부터 바깥으로 부어 천천히 조금씩 추출해주세요.
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-7">
    <h2>Step 7. 추출 두번째</h2>
    <p>
      같은 방식으로 추출합니다. 가운데 부터 바깥으로 원을 그리듯이, 천천히 조금씩...!
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-8">
    <h2>Step 8. 추출 마지막</h2>
    <p>
      마지막으로 물을 부어 추출해주세요. 천천히 조금씩, 가운데 부터 바깥으로, 원을 그려주면서...!
    </p>
    <p>
      <button class="prev-btn">이전</button>
      <button class="next-btn">다음</button>
    </p>
  </section>
  <section id="tab-9">
    <h2>Step 9. 완성</h2>
    <p>
      맛있는 커피가 완성되었습니다. 다음 번엔 주의해야 할 것도 생각해보면서 해보세요.
    </p>
    <p>
      바깥쪽 여과지에 물이 직접 닿지 않도록 주의해주세요: 물이 여과지를 타고 바로 흘러내려 물이 커피에 섞입니다.
    </p>
    <p>
      추출 시간은 2~3분 정도가 적당합니다: 너무 길면 쓴맛이 많이 추출되요.
    </p>
    <p>
      <button class="retry-btn">다시</button>
    </p>
  </section>
</div>
